form
  font-family: $istok
  color: $text-gray

  li
    margin-bottom: 15px

input
  &[type='email'],
  &[type='text'],
  &[type='password'],
  &[type='tel']
    width: 100%

input,
button
  &[type='submit']
    font-size: em(24)
    +green-button
    width: 100%

input
  &[type='radio'],
  &[type='checkbox']
    margin-right: 5px

  &[type='email'],
  &[type='text'],
  &[type='password'],
  &[type='tel']
    border-radius: 5px
    border: 1px solid $gray-border
    font-size: 16px
    padding: 10px 8px
    +placeholder-color(lighten($text-gray, 10%))

.choices-group .choice
  margin-bottom: 0
