/*
 *= require font-awesome
 */
@import suprir-varejo
@import partials/home-categories

body
  > header
    margin:
      top: 20px
      bottom: 30px

    button
      +white-button
      float: right
      margin-top: 25px
      font-size: em(14)

  .content
    +outer-container

  &.home
    background: url("dot.png") repeat left top

[role='banner']
  h1,
  h2
    font-family: $istok
    text-align: center

  h1
    font-size: em(42)

  h2
    margin-bottom: 60px
    font:
      size: em(28)
      weight: 400
    line-height: em(18)

.register
  +span-columns(5)
  padding: 0 46px

  ol
    list-style: none
    margin: 0
    padding: 0

  button
    font-size: em(24)
    width: 100%

  input
    &[type='email'],
    &[type='text'],
    &[type='password']
      border-radius: 5px
      border: 1px solid $gray-border
      font-size: 16px
      padding: 10px 8px
      +placeholder-color(lighten($text-gray, 10%))

  li
    margin-bottom: 15px

  .choices-group .choice
    float: left
    width: 50%
